<div id="search-component">
    <label for="search-hero">Hero Search</label>
    <input id="search-hero" #heroName/>
    <button type="button" class="search-button" (click)="searchName(heroName.value)">
      Search Hero
    </button>


    <label for="search-box">Hero Result</label>
    <ul class="search-result">

      <div *ngIf="heroe$">
        <div><span>id: </span>{{heroe$.id}}</div>
        <div><span>id: </span>{{heroe$.name}}</div>
      </div>

      <!--li *ngFor="let hero of heroes$ | async" >
        <a routerLink="/detail/{{hero.id}}">
          {{hero.name}}
        </a>
      </li-->

    </ul>
  </div>